@{
    Layout = null;
}


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>map</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/com.css" rel="stylesheet" type="text/css" />
    <link href="/css/swiper.min.css" rel="stylesheet" type="text/css" />
    <title>map</title>
</head>

<body class="bg3">
    <div class="wrap">
        <header class="head clearfix">
            <h3><a href="/home/EnIndex" style="position:absolute; left:-300px; top:6px;"><img src="~/images/home.png" /></a><img src="/images/logo.png" /><a href="/home/Enindex"><img src="/images/back.png" /></a></h3>
        </header>
        <div class="gameMap">
            <h3>Game Map</h3>
            <div>
                <span><a href="/home/l1"><img src="/images/ico9.png" /></a></span>
                <span><a href="/home/l2"><img src="/images/ico11.png" /></a></span>
                <span><a href="/home/l3"><img src="/images/l3.png" /></a></span>
                
                <span><a href="/home/l4"><img src="/images/l4.png" /></a></span>
              
               
               
                <span><a href="/home/l5"><img src="/images/ico10.png" /></a></span>
       
                <span><a href="/home/l6"><img src="/images/ico12.png" /></a></span>
                <span><a href="/home/lg1"><img src="/images/lg1.png" /></a></span>
                 <span><a href="/home/lg2"><img src="/images/lg2.png" /></a></span>
               </div>
            <h3><a href="/home/Enindex"><img src="/images/enbtn5.png" /></a></h3>
        </div>
    </div>

</body>
</html>
