@{
    Layout = null;
}


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>iapm</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/com.css" rel="stylesheet" type="text/css" />
    <link href="/css/swiper.min.css" rel="stylesheet" type="text/css" />
  
</head>

<body class="bg4" style="background:url('../images/ico19.png') no-repeat #def4d6 0 150px; background-size:100% auto";>
    <div class="wrap">
        <header class="head clearfix">
            <h3><img src="/images/logo.png" /></h3>
        </header>
        <!--兑换券-->
        <p style="text-align:right;width:90%; margin-top:5px;"><a href="/home/index">中文</a> |<a href="/home/Enindex">ENGLISH</a> </p>
        <div class="storyBegin">
            <p><img class="word" src="/images/enico15.png"></p>
        
        </div>
        <div class="doMore">
            <a href="javascript:void(0)" onclick="agree()"><img src="/images/enico16.png"></a><br />
            <a href="/home/Enrule"><img src="/images/enico17.png"></a><br />
            <a href="/home/Engamemap"><img src="/images/enico18.png"></a><br />
            <a href="/home/Enprize"><img src="/images/enico19.png"></a>
        </div>
        <div class="agreediv">
            <p>Agree Terms and Conditions</p>
            <input type="button" value="sure" class="sure"/>

        </div>
        <div class="agreeIt"><span><label><input type="checkbox" id="agree"/><a href="/Home/EnTiaoKuan"  >Agree Terms and Conditions</a> </label></span></div>
    </div>
    <div class="backdiv"></div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        function agree() {
            if ($("#agree").attr("checked")) {
                location.href = "/home/EnGamebegin";
            }
            else {
                $(".backdiv").show();
                $(".agreediv").show();
            }
            $(".agreediv .sure").on("click", function () {
                $(".agreediv").hide();
                $(".backdiv").hide();

            })
        }

    </script>
 
</body>
</html>

