@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>activity rules</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/com.css" rel="stylesheet" type="text/css" />
    <link href="/css/swiper.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="bg6">
    <div class="wrap">
        <header class="head clearfix">
            <h3><a href="/home/EnIndex" style="position:absolute; left:-300px; top:6px;"><img src="~/images/home.png" /></a><img src="/images/logo.png" /><a href="/home/Enindex"><img src="/images/back.png" /></a></h3>
        </header>
        <div class="gameInfo">
            <p>[activity rules]</p>
            <p>1.shake your pioze and win yourself a prize</p>
            <p>2.share this game to your friends and get extra coins!note:the game could be shared once a day only</p>
            <p>3. a chance of doubling your coins might show at the end of the game</p>
            <p>4.coins could be collected in the particular location once everyday</p>
        </div>

    </div>

</body>
</html>
