@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>Terms & Conditions</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/com.css" rel="stylesheet" type="text/css" />
    <link href="/css/swiper.min.css" rel="stylesheet" type="text/css" />
    <style>
        .tiaokuang {
            background: url("/images/bg31.jpg") no-repeat #99d2cb;
            background-size: 100% auto;
            background-position:100% 100%;
            height:100%;
        }
       

            .tiaokuang article h2 {
                padding: 20px;
                text-align: center;
            }

            .tiaokuang article {
                padding: 0 10px;
            }

                .tiaokuang article p {
                    margin: 15px 0;
                    font-size: 16px;
                }

            .tiaokuang img {
                width: 150px;
                height: 100px;
                margin-left: 175px;
            }
    </style>
</head>

<body>
    <div class="wrap">
        <header class="head clearfix">
            <h3><a href="/home/EnIndex" style="position:absolute; left:-300px; top:6px;"><img src="~/images/home.png" /></a> <img src="/images/logo.png" /><a href="/Home/EnIndex" class="right"><img src="/images/back.png" /></a></h3>
        </header>
        <!--兑换券-->
        <div class="tiaokuang">
            <article class="tk1">
                <h2>Terms & Conditions</h2>
                <p>By using Shanghai iapm mall WeChat game (called “Game” hereinafter) and following iapm mall’s WeChat account (called “Application” hereinafter), you are indicating that you agree and accept the following terms and conditions. Shanghai International Commerce Centre Corporation Limited & Shanghai SHK International Commerce Centre Corporation Limited (called “The Company” hereinafter) reserve the right to change these Terms & Conditions at any time and the latest edition of Terms & Conditions will be posted at our WeChat account. Your use of the Game after any changes to these Terms & Conditions is regarded as the acceptance of those changes.</p>
                <p>1.Each WeChat ID can join the Game once at each checkpoint and has limitation on frequency of participation per day.</p>
                <p>2.The Company and the service provider assume no responsibility for the timeliness, inaccuracy, fault, mis-delivery or failure of the provision of any services of the Application.</p>
                <p>3.The Company and the service provider shall not be liable for any failure of services of the Game in whole or in part for your inability to gain access or connect to such services due to any delay, malfunction or failure of communication networks or any reason whatever.</p>
                <p>4.Other terms and conditions may apply to each Shopping and Dining Privilege. Please obtain the detail from the relevant Participating Merchants.</p>
                <p>5.Users are required to present the e-coupon / e-voucher before payment or order to enjoy Shopping and Dining Privileges.</p>
                <p>6.iapm mall is not responsible for any losses caused by dispute between users and Participating Merchants. For any matters and disputes relating to Shopping and Dining Privileges, Participating Merchants reserve the discretionary right for final decisions.</p>
                <p>7.iapm mall would update the details of e-coupon and e-voucher at any time through iapm mall’s WeChat account.</p>
                <p>8.Sun Hung Kai Properties and iapm mall reserve the right to amend the offer, terms and conditions with prior notice at official promotion channels.</p>
                <p>9.If there is any inconsistency or conflict between the English and Chinese versions, the Chinese version shall prevail.</p>
                <p>10.The redeemed bonus points will be deducted from the account once shoppers complete gift(s) or e-coupon(s) redemption and cannot be reversed.</p>

            </article>
            <article class="tk2">
                <h2>Personal Data Collection Disclaimer</h2>
                <p>It is the policy of “Shanghai International Commerce Centre Corporation Limited & Shanghai SHK International Commerce Centre Corporation Limited” and its subsidiaries (hereinafter “Our Group” ) as "Data User", in complying with the requirements of the Personal Data (Privacy) Ordinance, the current laws of the People's Republic of China and notify you of certain matters when collecting information from you.</p>
                <p>1.At the time of providing our services, you may be asked to provide us with WeChat account information or Game record. It is necessary for Our Group and the engaged service provider to collect your information for providing you the services.</p>
                <p>2.The information Our Group and the service provider collected will be used for processing all matters relating to the relevant application, daily operation and/or any follow up actions. Our Group may use your personal data submitted from time to time to conduct research and/or analysis for any purpose.</p>
                <p>3.Our Group and the service provider will keep your WeChat game data only for as long as necessary to fulfill the purpose for which it is collected. The data you provide will only be handled by the authorized employees and persons of Our Group and the service provider.</p>
                <p>4.User shall be liable for any personal information breach due to disclosing of the personal information or account sharing by users.</p>
            </article>
        
        </div>

    </div>


</body>
</html>

