@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>游戏</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/com.css" rel="stylesheet" type="text/css" />
    <link href="/css/swiper.min.css" rel="stylesheet" type="text/css" />
    <title>规则</title>
</head>

<body class="bg6">
    <div class="wrap">
        <header class="head clearfix">
            <h3><a href="/home/Index" style="position:absolute; left:-300px; top:6px;"><img src="~/images/home.png" /></a><img src="/images/logo.png" /><a href="/home/index"><img src="/images/back.png" /></a></h3>
        </header>
        <div class="gameInfo">
            <p>1、游戏开始,摇动手机,赢取金币。</p>
            <p>3、每人每天在每个点位仅可以参加一次<br/>“摇金币 赢奖赏”。</p>
            <p>4、每次活动结束还有一次惊喜，<br/>有机会让你的金币翻倍哦！</p>
            <p>5、邀请更多好友来参加吧!有机会额外获更多金币。</p>
     
        </div>
    </div>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: "@ViewBag.appId", // 必填，公众号的唯一标识
            timestamp: "@ViewBag.timestamp", // 必填，生成签名的时间戳
            nonceStr: "@ViewBag.nonceStr", // 必填，生成签名的随机串
            signature: "@ViewBag.signature",// 必填，签名，见附录1
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'hideAllNonBaseMenuItem'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.error(function (res) {
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
        });
        wx.ready(function () {
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。

            wx.onMenuShareTimeline({
                title: 'iapm摇金币 赢奖赏 等你来参加！', // 分享标题
                link: 'http://iapm.cjoy.cn/home/NoIndex', // 分享链接
                imgUrl: 'http://iapm.cjoy.cn/images/share1.jpg', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });


            wx.onMenuShareAppMessage({
                title: 'iapm摇金币 赢奖赏 等你来参加！', // 分享标题
                desc: '我在iapm摇金币 赢奖赏 等你来参加！', // 分享描述
                link: 'http://iapm.cjoy.cn/home/NoIndex', // 分享链接
                imgUrl: 'http://iapm.cjoy.cn/images/share1.jpg', // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
          





        });

    </script>
</body>
</html>
