@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>隐私条款</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/com.css" rel="stylesheet" type="text/css" />
    <link href="/css/swiper.min.css" rel="stylesheet" type="text/css" />
    <style>
        .tiaokuang {
            background: url("/images/ico3.png") no-repeat #fdf9e3 0 874px;
            background-size: 100% auto;
        }

            .tiaokuang article h2 {
                padding: 20px;
                text-align: center;
            }

            .tiaokuang article {
                padding: 0 10px;
            }

                .tiaokuang article p {
                    margin: 15px 0;
                    font-size: 16px;
                }

            .tiaokuang img {
                width: 150px;
                height: 100px;
                margin-left: 175px;
            }
    </style>
</head>

<body>
    <div class="wrap">
        <header class="head clearfix">
            <h3><a href="/home/Index" style="position:absolute; left:-300px; top:6px;"><img src="~/images/home.png" /></a> <img src="/images/logo.png" /><a href="/Home/Index" class="right"><img src="/images/back.png" /></a></h3>
        </header>
        <!--兑换券-->
        <div class="tiaokuang">
            <article class="tk1">
                <h2>[ 条款及细则 ]</h2>
                <p>当使用上海环贸iapm商场手机微信“摇一摇”游戏(以下统称“本游戏”) 及关注环贸iapm商场微信号 (以下统称“本程序”)所提供的服务即表示阁下同意接受本条款及细则约束。上海环贸广场房地产有限公司、上海新鸿基环贸广场房地产有限公司(以下统称“本公司”)将不时修订本条款及细则，并上载于本程序。如阁下在本条款及细则更改后仍继续使用本程序，即被视为阁下同意并接受已修改的条款及细则。</p>
                <p>1、同一微信号同日参与游戏次数有限，每个点位每天仅限参与游戏壹次。</p>
                <p>2、本公司及承办商对本程序所提供的资讯及任何服务的及时性、准确性、缺失、错误发送或故障概不负责。</p>
                <p>3、如阁下因任何通讯网络延误、故障、过失或其他种种原因而未能连接及使用本游戏，本公司及承办商概不负责。</p>
                <p>4、各项购物及餐饮优惠可能受其他条款及细则约束，详情请向各个参与优惠商户查询。</p>
                <p>5、顾客须于付款/入单前向店铺出示电子券，方可享受购物及餐饮优惠。</p>
                <p>6、如用户与参与优惠商户出现任何争议，环贸iapm商场恕不负责，参与优惠商户保留最终决定权。</p>
                <p>7、环贸iapm商场将不定期更新优惠券或礼品，请留意环贸iapm商场微信。</p>
                <p>8、本公司有绝对酌情权随时终止本程序服务，而无须向阁下发出通知或给与任何理由。</p>
                <p>9、本条款及细则由中英文版本组成，如中英文版本有所冲突，概以中文版本为准。</p>
            </article>
            <article class="tk2">
                <h2>个人资料收集免责声明</h2>
                <p>以下是上海环贸广场房地产有限公司、上海新鸿基环贸广场房地产有限公司 (以下统称「本公司」)遵照中华人民共和国现行法律条款之要求而发表，在向阁下收集资料时通知阁下若干事项。</p>
                <p>1.在本公司为阁下提供服务之时，本公司及承办商可能收集阁下之微信资料或游戏记录，以便向阁下提供服务。</p>
                <p>2.本公司及承办商所收集之资料将用作处理有关申请、日常管理及/或任何跟进事宜。本公司亦可能利用阁下资料不时进行任何目的之研究或分析。</p>
                <p>3.本公司及承办商为了完成收集微信游戏资料的目的，而在有需要的时间内保存阁下的个人资料及只供本公司及承办商的获授权人士使用。</p>
                <p>4.由于用户将个人信息告知他人或与他人共享信息，因此导致的任何个人资料外泄 ，均由使用者承担一切相关责任。</p>
            </article>
            
        </div>

    </div>

</body>
</html>

