@{
    Layout = null;
}


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>地图</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/com.css" rel="stylesheet" type="text/css" />
    <link href="/css/swiper.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="bg3" style="background:url('/images/bgbgbg.jpg') no-repeat 0 45px; background-size:100% auto; background-color:#E4D1A8;">
    <div class="wrap">
        <header class="head clearfix">
            <h3><a href="/home/Index" style="position:absolute; left:-300px; top:10px;">
                <img src="~/images/home.png" />
                </a><img src="~/images/ifc 209 x 100.png" />
            <a href="/home/index"><img src="/images/back.png" style="margin-top:10px;" />
                </a></h3>
        </header>
        <div class="gameMap">
            <h3>游戏地图</h3>
            <div>
                <span><a href="/home/l1"><img src="~/images/L1.png" /></a></span>
                <span><a href="/home/l2"><img src="/images/L2.png" /></a></span>
                <span><a href="/home/l3"><img src="/images/L3.png" /></a></span>
                <span><a href="/home/l4"><img src="/images/L4.png" /></a></span>
                @*<span><a href="/home/l5"><img src="/images/LG1.png" /></a></span>
                <span><a href="/home/l6"><img src="/images/LG2.png" /></a></span>*@
                <span><a href="/home/lg1"><img src="~/images/LG1.png" /></a></span>
             <span><a href="/home/lg2"><img src="~/images/LG2.png" /></a></span>
               </div>
            <h3><a href="/home/index"><img src="~/images/继续游戏.png" /></a></h3>
        </div>
    </div>

</body>
</html>
