@model IEnumerable<iapm.Models.WechatUser>
@{
    Layout = "~/Views/_LayoutPage.cshtml";
    ViewBag.Title= "用户管理";

 int   count = 1;
}


    <h1 class="page-title">用户管理</h1>
    <div class="btn-toolbar">
        <button class="btn btn-primary"><i class="icon-plus"></i> New User</button>
        <button class="btn">Import</button>
        <button class="btn">Export</button>
        <div class="btn-group">
        </div>
    </div>
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>头像</th>
                    <th>昵称</th>
                    <th>城市</th>
                    <th style="width: 26px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @count </td>
                        <td><img src="@item.headimgurl" style="width:100px; height:60px;" /> </td>
                        <td>@item.nickname</td>
                        <td>@item.city</td>
                      
                    </tr>

                    count++;
                }
                
             
            </tbody>
        </table>
    </div>
    <div class="pagination">
      
    </div>

    <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete Confirmation</h3>
        </div>
        <div class="modal-body">
            <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-danger" data-dismiss="modal">Delete</button>
        </div>
    </div>




